numpy
scipy
pandas
beautifulsoup4
requests
mecab-python3
janome
matplotlib
japanize-matplotlib
seaborn
ipython
scikit-learn
tensorflow
keras
jupyterlab
jupyterlab_code_formatter
jupyterlab-lsp
jupyterlab_language_pack_ja_jp
jupyterlab_widgets
jupyterlab_latex
jupyterlab_execute_time
jupyterlab-drawio
lckr-jupyterlab-variableinspector
jupyterlab-spreadsheet-editor
jupyterlab-system-monitor
ipywidgets
autopep8
black
kaggle
signate